<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
     
    <h2>Welcome to the Profile page</h2>
     <p>Here is your Profile details</p>
     <a href="/auth/logout">Logout </a>
</body>
</html>