<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oatuh with node.js and express </title>

    <style>
        h2, h5 {
            text-align:  center;
        }

    </style>
</head>
<body>
    
    <h2>Google OAuth</h2>
    <h5>Passport Authentication</h5>
    <hr />
    <a href="/auth/login"> go to login page</a>
</body>
</html>